html, body {
    background-color: black !important;
    font-size: 20px;
}
.container {
    background-color: green;
    margin-top: 12%;
    border: tan 3px solid;
    border-radius: 15px;
}
.deck-cont {
    /* background-color: white;     */
    margin-bottom: 10px;
    color: black;
    height: 120px; 
}
.header-temp {
    height: 100px;
}
img {
    height: 120px;
    width: 80px;
}